/*---Links Card---*/

@media screen and (max-width: 400px) {
    .linkscard {
        display: none
    }
}

@media screen and (min-width: 400px) {
    .linkscard {
        margin: 0 auto;
        width: 500px;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.postcard {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    transform: scale(1.0)
}

.postcard h1 {
    text-align: center;
}

.postcard .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.postcard.green .additional {
    background: linear-gradient(#2492a5, #A2CCB6);
}

.postcard.pink_blue .additional {
    background: linear-gradient(#f5636f, #2492a5);
}

.postcard:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.postcard .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.postcard .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
    */
}

.postcard .additional .user-card .level,
.postcard .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.postcard .additional .user-card .points {
    top: 85%;
}

.postcard .additional .user-card svg {
    top: 50%;
}

.postcard .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.postcard .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.postcard.green .additional .more-info h1 {
    color: #224C36;
}

.postcard .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.postcard.green .additional .coords {
    color: #325C46;
}

.postcard .additional .coords span+span {
    float: right;
}

.postcard .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.postcard.green .additional .stats {
    color: #325C46;
}

.postcard .additional .stats&gt;div {
    flex: 1;
    text-align: center;
}

.postcard .additional .stats i {
    display: block;
}

.postcard .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.postcard .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.postcard .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.postcard .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.postcard .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.intro-avatar img {
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}<script>
        document.querySelectorAll('.github-emoji')
          .forEach(el => {
            if (!el.dataset.src) { return; }
            const img = document.createElement('img');
            img.style = 'display:none !important;';
            img.src = el.dataset.src;
            img.addEventListener('error', () => {
              img.remove();
              el.style.color = 'inherit';
              el.style.backgroundImage = 'none';
              el.style.background = 'none';
            });
            img.addEventListener('load', () => {
              img.remove();
            });
            document.body.appendChild(img);
          });
      </script>